header {
    grid-area: header;
    background-color: var(--color-bg-purple);
    box-shadow:
        -0.25rem 0 0 -0.125rem var(--color-stroke-purple), 0.25rem 0 0 -0.125rem var(--color-stroke-purple),
        0 -0.25rem 0 -0.125rem var(--color-stroke-purple), 0 0.25rem 0 -0.125rem var(--color-stroke-purple),
        0 -0.125rem 0 0 var(--color-stroke-purple), 0 0.125rem 0 0 var(--color-stroke-purple),
        -0.125rem 0 0 0 var(--color-stroke-purple), 0.125rem 0 0 0 var(--color-stroke-purple),
        0.125rem 0.25rem 0 0 var(--color-stroke-purple), 0.25rem 0.375rem 0 0 var(--color-stroke-purple),
        0.375rem 0.5rem 0 0 var(--color-stroke-purple);
    z-index: 2;
    align-content: center;
}

#header-btn {
    padding: 0.125rem;
    margin-left: 0.3125rem;
    border-color: var(--color-stroke-purple);
    height: 1.25rem;
    width: 1.25rem;
    display: none;
}

@media (max-width: 768px) {
    #header-btn {
        display: block;
    }
}